*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family:Helvetica, Arial, sans-serif;
}
/* start utility class */
.container{
    max-width:1200px;
    min-width:400px;
    margin:0 auto;
}
.clearfix::after{
    content:"";
    display:table;
    clear:both;
}
.fl{
    float:left;
}
ul{
    list-style-type:none;
    text-align:center;
}
/* end class utility */
/* start class of the header  */
header{
    background-image:url('../img/jumbo.png');
    height:500px;
    background-size:cover;
    background-position:center;
    padding-top:20px;
    position:relative;
}
.logo li{
    position:absolute;
    left:0;
}
.center li{
    display:inline-block;
    line-height:34px;
    margin-right:34px;
    color:white;
}
.center li:last-child{
    margin-right:0;
}
.login li{
    display:inline-block;
    line-height:34px;
    border-radius:20px;
    width:70px;
    height:34px;
    background-color:white;
    position:absolute;
    right:0;
}
.top-bar{
    width:100%;
}
.top-bar .logo{
    width:20%;
    height:34px;
    position:relative;
}
.top-bar .center{
    width:60%;
    height:34px;
}
.top-bar .login{
    width:20%;
    height:34px;
    position:relative;
}
.center-item{
    text-align:center;
    color:white;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%)
}
.text{
    font-size:40px;
    font-weight:900;
}
.center-item p{
    font-size:18px;
    margin-top:40px;
}
.center-item .interlinea{
    line-height:30px;
}
.center-item .bottom{
    display:inline-block;
    margin-top:20px;
    background-color:white;
    text-align:center;
    border-radius:30px;
    padding:20px;
}
.center-item .uno{
    color:black;
    width:200px;
    font-size:18px;
}
.center-item .due{
    background-color:black;
    width:300px;
    font-size:18px;
    margin-left:30px;
}
/* end class of the header  */
/* start class of the main  */

/* primo contenuto */
.content-float{
    margin-top:100px;
}
.content-float .picture-1{
    width:60%;
    height:500px;
    position:relative;
}
.content-float .picture-1 img{
    position:absloute;
    top:0;
    right:0;
    vertical-align:middle;
}
.content-float .text-1{
    width:40%;
    height:500px;
    padding:35px;
    /* line-height:60px; */
}
.paragrafo{
    margin-top:20px;
    line-height:30px;
    font-size:18px;
}
/* secondo contenuto  */
.content-float .text-2{
    width:40%;
    height:500px;
    padding:35px;
    /* line-height:60px; */
}
.content-float .picture-2{
    width:60%;
    height:500px;
    position:relative;
}
.content-float .picture-2 img{
    position:absloute;
    top:0;
    right:0;
    vertical-align:middle;
}