*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
/* start utility class */
.container{
    max-width:1200px;
    min-width:400px;
    margin:0 auto;
}
.clearfix::after{
    content:"";
    display:table;
    clear:both;
}
.fl{
    float:left;
}
ul{
    list-style-type:none;
    text-align:center;
}
/* end class utility */
header{
    background-image:url('../img/jumbo.png');
    height:500px;
    background-size:cover;
    background-position:center;
    padding-top:20px;
    position:relative;
}
.logo li{
    position:absolute;
    left:0;
}
.center li{
    display:inline-block;
    line-height:34px;
    margin-right:34px;
    color:white;
}
.center li:last-child{
    margin-right:0;
}
.login li{
    display:inline-block;
    line-height:34px;
    border-radius:20px;
    width:70px;
    height:34px;
    background-color:white;
    position:absolute;
    right:0;
}
.top-bar{
    width:100%;
}
.top-bar .logo{
    width:20%;
    height:34px;
    position:relative;
}
.top-bar .center{
    width:60%;
    height:34px;
}
.top-bar .login{
    width:20%;
    height:34px;
    position:relative;
}
.center-item{
    border:1px solid black;
    text-align:center;
    color:white;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%)
}